body{
    font-family:Arial, Helvetica, sans-serif !important;
}
.bg{
    background-image: url("../img/john-looy-X3DZ1c7MPa4-unsplash.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: inherit;
}

header{
    height: 600px;
    width: 100%;
}

.position-nav{
    position: absolute;
    left: 5.24%;
    right: 5.3%;
    top: 8.22%;
    bottom: 77.02%;
    background: #FFFFFF !important;
    box-shadow: 0px 10px 15px rgba(2, 2, 2, 0.1);
    border-radius: 2px;
    height: 100px;
    width: 90%;
}

.oui{
    margin-left: 500px;
}

.titre{
    margin-top:100px;
    margin-left: 200px;
    width: 30%;
}

footer{
    background-color: #D8F2FF;
}

.flex{
    display: flex;
}

.footer-row{
    margin:100px;
}

.btn-body{
    background-color: #D8F2FF;
    border-color: #D8F2FF;
    width: 30%;
}

.margin{
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 10px;
}